#map {
  height: 400px;
}

#findme-map {
  height: 300px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.select2-container .select2-choice {
  height: 38px;
}

textarea,
input[type=text] {
  background-color:#fff;
  border:1px solid #ccc;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.1);
     -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.1);
          box-shadow:1px 1px 2px rgba(0,0,0,0.1);
  -webkit-transition:border linear .2s, box-shadow linear .2s;
     -moz-transition:border linear .2s, box-shadow linear .2s;
       -o-transition:border linear .2s, box-shadow linear .2s;
          transition:border linear .2s, box-shadow linear .2s;
  }
  textarea:focus,
  input[type=text]:focus {
    outline:thin dotted\8; /* ie8 below */
    color:#404040;
    border-color:#00395D;
    border-width:1px;
    }

.select2-container .select2-choice .select2-arrow b,
.select2-container .select2-choice span.select2-chosen {
  margin-top: 5px;
}

body {
  text-align: right;
}

.row {
  direction: rtl;
}

.nav {
  direction: rtl;
}

.center.pad2 {
  direction: rtl;
}

.mb-4.mt-3 {
  direction: rtl;
}

.font-weight-light.small.text-muted.mt-4 {
  text-align: left;
  direction: ltr;
}

.input-group {
  direction: rtl;
}

#website {
  direction: ltr;
}

#social {
  direction: ltr;
}

#collect-data-done {
  direction: rtl;
}

#linkcoords {
  text-align: center;
}

p {
  direction: rtl;
}

.alert.alert-info {
  text-align: center;
}

#phone {
  direction: ltr;
}